*.iml
.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
.idea/
*.hprof
.externalNativeBuild/
*.aab
*.apk
output-metadata.json
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json

